/* navigation-bar.scss */
.navigation-bar {
  background-color: #033465; /* Dark background for the navbar */
  padding: 10px;

  .navbar-brand {
    color: #fff; /* White color for brand text */
    font-size: 1.5rem; /* Larger font size for the brand */
    &:hover {
      color: #f8f9fa; /* Slightly lighter on hover */
    }
  }

  .navbar-toggler {
    border: none;
    outline: none;

    &:focus {
      box-shadow: none;
    }
  }

  .nav-link {
    color: #f8f9fa; /* White for nav links */
    font-size: 1.1rem;
    padding: 10px 15px;
    &:hover {
      color: #007bff; /* Blue on hover */
      background-color: #495057; /* Darker background on hover */
      border-radius: 5px;
    }
  }

  .nav-link.active {
    background-color: #007bff; /* Highlight active link */
    border-radius: 5px;
    color: white !important;
  }
}

/* Optional: Style for the main content */
.main-content {
  margin-top: 60px; /* Adjust this based on the size of the navbar */
}
