/* navigation-bar.scss */
.navigation-bar {
  background-color: #23252b;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  .navbar-brand {
    color: yellow;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 20px;
    &:hover {
      color: #007bff;
    }
  }

  .navbar-toggler {
    border: none;
    outline: none;
    margin-right: 20px;

    &:focus {
      box-shadow: none;
    }
  }

  .nav-link {
    color: #fff;
    font-size: 1.3rem;
    padding: 15px 20px;
    margin: 0 5px; // Add some margin between links
    &:hover {
      color: #f0f0f0;
      background-color: #495057;
      border-radius: 5px;
    }
  }

  .nav-link.active {
    background-color: #007bff;
    border-radius: 5px;
    color: #007bff;
  }

  // Adjust the container to take full width
  .container-fluid {
    padding: 0;
  }

  // Style the collapse menu to take full width
  .navbar-collapse {
    background-color: #23252b;
    padding-left: 20px;
  }
}
